<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="slim-angular">
            <directory>php/tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>php/app</directory>
        </whitelist>
    </filter>
</phpunit>

